{% extends 'affiliator/base.html' %}
{% load static %}
{% block content %}
<form class="contact-form-main-area" action="" enctype="multipart/form-data" method="post" id="paymentFrm">
    {% csrf_token %}
<div class="change-password-input-box-area">
    <div class="row">
        <div class="col-lg-3">
            <div class="change-password-lavel-area">
                <h2>Old Password</h2>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="change-password-input-box">
                <input type="password" id="fname" name="old_password"
                    class="form-control change_border" placeholder="Enter Old Password">
            </div>
        </div>
    </div>
</div>
<div class="change-password-input-box-area">
    <div class="row">
        <div class="col-lg-3">
            <div class="change-password-lavel-area">
                <h2>New Password</h2>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="change-password-input-box">
                <input type="password" id="fname" name="new_password"
                    class="form-control change_border" placeholder="Enter New Password">
            </div>
        </div>
    </div>
</div>
<div class="change-password-input-box-area">
    <div class="row">
        <div class="col-lg-3">
            <div class="change-password-lavel-area">
                <h2>Confirm Password</h2>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="change-password-input-box">
                <input type="password" id="fname" name="confirm_password"
                    class="form-control change_border" placeholder="Enter Confirm Password">
            </div>
        </div>
    </div>
</div>
<div class="change-password-submit-area">
    <button type="submit" class="submit-password-change-btn btn_submit">Submit</button>
</div>
</div>
</form>
{% endblock content %}