{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>gogoGlobal.LIFE</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin_css/images/favicon.png' %}">
    <link href="{% static 'admin_css/plugins/chartists/dist/chartist.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'admin_css/plugins/chartist-plugins/dict/chartist-plugin-tooltip.css' %}">
    <!-- Custom CSS -->
    <link href="{% static 'admin_css/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_css/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_css/css/responsive.css' %}" rel="stylesheet">
</head>
<body style="font-family: Roboto, sans-serif;">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar top_header responsive_head" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- Logo -->
                    <a class="navbar-brand navbar_logo" href="{% url 'admin-dashboard' %}">
                        <span class="logo-icon icon_logo">
                            <img src="{% static 'admin_css/images/logopng.png' %}" alt="logo-img"> 
                        </span>
                    </a>
                    <!-- toggle and nav items -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <i class='fas fa-bars' style='color: #4691ce; font-size: 22px; margin-left: 10px;'></i>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse collapse_navbar" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                                href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li class=" in">
                            <form role="search" class="app-search d-none d-md-block me-3">
                                <input type="text" placeholder="Search..." class="form-control mt-0 border_color">
                                <a href="" class="active">
                                    <i class="fa fa-search" style="color: #4691ce;"></i>
                                </a>
                            </form>
                        </li>
                        
                        <li class="dropdown">
                            <a class="profile-pic" href="profile-details.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                                <img src="{% static 'admin_css/images/demo-face.jpg' %}" alt="user-img" width="36"
                                    class="img-circle"><span class="text-white font-medium">Steave <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                            </a>
                            <ul class="dropdown-menu profileDropdown">
                              <li><a class="dropdown-item" href="profile-details.html">Profile</a></li>
                              <li><a class="dropdown-item" href="{% url 'adminsetting' %}">Setting</a></li>
                              <li><a class="dropdown-item" href="{% url 'logouts' %}">Log Out</a></li>
                            </ul>
                        </li>

                        <li class="notification_bell">
                            <a href="#" class="color_white"><i class="fas fa-bell"></i></a>
                            <span class="noti_number">5</span>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->