{% load static %}

<aside class="left-sidebar left_aside" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="nav_bar_side">
                <!-- User Profile-->
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'admin-dashboard' %}"
                        aria-expanded="false">
                        <i class="fas fa-tachometer-alt leftside_icon"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
             
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'Vendorbusiness' %}"
                        aria-expanded="false">
                        <i class="fas fa-user-plus leftside_icon"></i>
                        <span class="hide-menu">Manage Vendor</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'Affiliatorbusiness' %}"
                        aria-expanded="false">
                        <i class="fas fa-user-plus leftside_icon"></i>
                        <span class="hide-menu">Manage affiliator</span>
                    </a>
                </li> 
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
                        href="{% url 'adminsetting' %}" aria-expanded="false">
                        <i class="fas fa-cog leftside_icon"></i>
                        <span class="hide-menu">Settings</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="notification.html"
                        aria-expanded="false">
                        <i class="fas fa-bell leftside_icon"></i>
                        <span class="hide-menu">Notifications</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'contactInquary' %}"
                        aria-expanded="false">
                        <i class="fas fa-address-card leftside_icon"></i>
                        <span class="hide-menu">Contact Us</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'termsConditions' %}"
                        aria-expanded="false">
                        <i class="fas fa-certificate leftside_icon" aria-hidden="true"></i>
                        <span class="hide-menu">Terms & Conditions</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'privacy' %}"
                        aria-expanded="false">
                        <i class="fas fa-file-alt leftside_icon"></i>
                        <span class="hide-menu">Privacy & Policy</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="{% url 'logouts' %}"
                        aria-expanded="false">
                        <i class="fas fa-power-off leftside_icon"></i>
                        <span class="hide-menu">Log Out</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>